@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <img src="~/img/lagrandebouffe_logo.jpg" alt="La Grande Bouffe logo" />
    <p>Sistema de Informação para a indústria alimentícia.</p>
</div>
